
.enableLabel {
  font-size: 18px;
}


.App-logo {
  height: 122px;
  width: 122px;
  pointer-events: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  
  color: white;
}

.App-link {
  color: #61dafb;
}
.Collapsible__trigger {
  width: 80%;
  border: 5px solid #FFFFFF;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  user-select: none;
  font-size: 20px;
}
.Collapsible__contentInner {
  margin-top: 5px;
  margin-bottom: 15px;
}
.MuiSwitch-root {
  margin-left: auto;
  margin-right: auto;
}
.Collapsible__contentInner p {
  width: 80%;
  border: 2px solid #C1C1C1;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.donationButton {
  width: 80%;
  border: 2px solid #C1C1C1;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
}

/*
Not working :(
.donateButtonContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  --borderWidth: 5px;
  position: relative;
  border-radius: var(--borderWidth);
  padding: 5px;
}
.donateButtonContainer:after {

  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
